<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.bobplanet.android"
    android:versionCode="8"
    android:versionName="1.0beta8" >

    <!-- 네트웤에서 데이터 가져와야 하므로 기본적으로 필요 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Google login을 위해 필요 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- GCM 이용을 위해 필요한 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- 아래 permission을 정의해야 다른 앱이 GCM 메시지를 가로채지 못함 -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- 애플리케이션 -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <!-- 메인 Actiivty -->
        <activity
            android:name=".ui.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 일간 조회 Acivity -->
        <activity
            android:name=".ui.DayActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <!-- 메뉴 조회 Activity -->
        <activity
            android:name=".ui.MenuActivity"
            android:label="@string/title_menu"
            android:parentActivityName=".ui.DayActivity"
            android:theme="@style/AppTheme.Detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DayActivity" />
        </activity>

        <!-- 설정화면 Activity -->
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.DayActivity"
            android:theme="@style/AppTheme.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DayActivity" />
        </activity>

        <!-- 웹뷰 Activity -->
        <activity
            android:name=".ui.WebViewActivity"
            android:parentActivityName=".ui.DayActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />

                <action android:name="kr.bobplanet.android.ACTION_WEBVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DayActivity" />
        </activity>

        <!-- Facebook 로그인 Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 네이버 로그인 Activity -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />

        <!-- GCM 메시지를 수신하는 Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Play Services가 없을 때 백그라운드 전송을 위해 대타로 사용되는 리시버와 서비스 -->
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <!-- Used for Google Play Store Campaign Measurement -->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- GCM 등록 Service -->
        <service
            android:name=".gcm.GcmServices$Registration"
            android:exported="false" />

        <!-- GCM 메시지 수신 Service -->
        <service
            android:name=".gcm.GcmServices$MessageListener"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- 인스턴스ID 변경이벤트 수신 Service -->
        <service
            android:name=".gcm.GcmServices$InstanceIDListener"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
